<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite" stopProcessing="true">
                    <match url="^([-a-zA-Z0-9-ñáéíóú,~/]+)$" />
                    <action type="Rewrite" url="index.php?ruta={R:1}" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
